body{
    margin: 0 ;
}
p{
    margin: 0;
}
ul{
    margin: 0;
}
main{
    text-align: center;
}

.container{
    width: 900px;
    background-color: #F2F2F2;
    margin-top: 70px;
    border-width: 3px 1px 3px 1px;
    border-style: solid;
    border-color: #73351F;

}
.content-header{
    height: 100px;
    width: 100%;
    background: #A69668;
    border-bottom: 2px solid #73351F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupOkTitle{
    font-size: 28px;
    margin-top: 20px;
    font-weight: bold;
}
.textbar{
    margin: 0 auto;
    margin-top: 30px;
    width: 800px;
    height: 300px;
    border: 2px solid #73351F;
    text-align: left;
}

.accept{
    margin-top: 30px;
    margin-right: 5px; 
}
.signValue{
    margin-top: 30px;
    font-weight: bold; 
    font-size: 18px;
}
.invalid-feedback{
    font-size: 10px;
}
.btngroup{
    margin-top: 30px;
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.btn-secondary{
    margin-top: 40px;
    width: 300px;
    height: 100px;
    font-weight: bold;
    font-size: 30px;
}