<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.careercanvas.mapper.AdminMapper">
    <select id="getUserProfile" resultType="com.team1.careercanvas.vo.UserVO">
        select userid, date_format(date, '%y-%m-%d') date, username
        from user
        <where>usertype=0
            <if test="searchKey=='username'">
                AND username LIKE CONCAT('%', #{searchWord}, '%')
            </if>
            <if test="searchKey=='userid'">
                AND userid LIKE CONCAT('%', #{searchWord}, '%')
            </if>
        </where>
        <choose>
            <when test="postSort==1">
                order by username asc
            </when>
            <when test="postSort==2">
                order by userid asc
            </when>
            <when test="postSort==3">
                order by date desc
            </when>
        </choose>
        limit #{onePageRecord} offset #{offsetPoint}
    </select>

    <select id="getUserCount" resultType="Integer">
        select count(userid)
        from user
        where usertype = 0
    </select>

    <select id="getCompanyCount" resultType="Integer">
        select count(userid)
        from user
        where usertype = 1
    </select>

    <select id="getCompanyProfile" resultType="com.team1.careercanvas.vo.UserVO">
        select userid, date_format(date, '%y-%m-%d') date, username
        from user
        where usertype = 1 limit 10
        offset 0
    </select>

    <select id="getNewMember" resultType="com.team1.careercanvas.vo.UserVO">
        select count(userid) userid, date_format(date, '%Y-%m-%d') date
        from user
        where usertype != 2
        group by date_format(date, '%Y-%m-%d')
        order by date
            limit 30
    </select>

    <select id="getAccessor" resultType="com.team1.careercanvas.vo.UserVO">
        select *
        from visitor limit 30
    </select>

    <select id="getBoardList" resultType="com.team1.careercanvas.vo.BoardVO">
        select *
        from post
        order by date desc
    </select>

    <select id="getBoardCount" resultType="Integer">
        select count(postid)
        from post
    </select>

    <select id="getBoardToday" resultType="Integer">
        select count(postid)
        from post
        where date (date) = curdate()
    </select>

    <select id="getBoardMonth" resultType="com.team1.careercanvas.vo.BoardVO">
        select count(postid) postid, date_format(date, '%Y-%m-%d') date
        from post
        group by date
        order by date
            limit 30
    </select>

    <select id="getBoardCategory" resultType="com.team1.careercanvas.vo.BoardVO">
        select count(postid) postid, boardcategory
        from post
        group by boardcategory
    </select>

    <select id="getReportList" resultType="com.team1.careercanvas.vo.ReportVO">
        select *
        from report
        order by date desc
    </select>

    <select id="getReportCount" resultType="Integer">
        select count(reportid)
        from report
    </select>

    <select id="getAdminName" resultType="String">
        select username
        from user
        where userid = #{param1}
    </select>

    <select id="getDeleteList" resultType="com.team1.careercanvas.vo.SubjectVO">
        select a.subjectid    as subjectid,
               b.subjecttitle as subjecttitle,
               b.user_userid  as user_userid,
               date_format(b.date, '%y-%m-%d') date, a.reason as reason
        from subject_delapply a join subject b
        where a.subjectid = b.subjectid
    </select>

    <select id="getDeleteCount" resultType="Integer">
        select count(delapplyid)
        from subject_delapply
    </select>

    <delete id="deleteAssignment">
        delete
        from subject
        where subjectid = #{param1}
    </delete>

    <delete id="dismissSubject">
        delete
        from subject_delapply
        where subjectid = #{param1}
    </delete>

    <delete id="deleteBoard">
        delete
        from post
        where postid = #{param1}
    </delete>

    <delete id="deleteWanted">
        delete
        from partywanted
        where wantedid = #{param1}
    </delete>

    <delete id="deleteReport">
        delete
        from report
        where targetid = #{param1}
    </delete>

    <delete id="deleteUser">
        delete
        from user
        where userid = #{param1}
    </delete>

    <update id="deleteComment">
        update comment
        set commentcontent = '삭제된 댓글입니다.',
            isdelete       = 1
        where commentid = #{param1}
    </update>

    <update id="deleteWantedComment">
        update wantedcomment
        set commentcontent = '삭제된 댓글입니다.',
            isdelete       = 1
        where commentid = #{param1}
    </update>

    <update id="changeUsername">
        update user
        set username = #{param2}
        where userid = #{param1}
    </update>

    <select id="getWriterUser" resultType="String">
        select user_userid
        from post
        where postid = #{param1}
    </select>

    <select id="reporterUser" resultType="String">
        select userid
        from report
        where targetid = #{param1}
    </select>

    <!-- 권혁준 작업 -->
    <select id="getBannerList" resultType="com.team1.careercanvas.vo.BannerVO">
        select * 
        from banner
        order by deadline asc;
    </select>

    <select id="getBannerAmount" resultType="Integer">
        select count(bannerid)
        from banner;
    </select>

<!--    조석훈 작업-->
    <insert id="InsertBanner" parameterType="com.team1.careercanvas.vo.BannerVO">
        insert into banner(deadline, owner, startdate)
        values(#{deadline}, #{owner}, #{startdate});
            <selectKey keyProperty="bannerid" order="AFTER" resultType="int">
                select last_insert_id()
            </selectKey>
    </insert>

    <update id="InsertBannerimg">
        update banner
        set bannerimg=#{param1}
        where bannerid=#{param2}
    </update>

    <select id="getBannerImg" resultType="String">
        select bannerimg
        from banner
        where bannerid=#{param1}
    </select>

    <delete id="deleteBanner">
        delete
        from banner
        where bannerid=#{param1}
    </delete>

    <select id="getCompanyList" resultType="com.team1.careercanvas.vo.CompanyVO">
        select c.user_userid as user_userid,
               c.companyno as companyno,
               c.isaccept as isaccept,
               c.authimg as authimg,
               u.username as companyname,
               u.date as date
        from company c
        join user u on u.userid = c.user_userid
        <where>
            usertype=1
        <if test="searchKey=='username'">
        and u.username like concat('%', #{searchWord}, '%')
        </if>
        <if test="searchKey=='userid'">
            and c.user_userid like concat('%',#{searchWord}, '%')
        </if>
        </where>
        <choose>
            <when test="postSort==1">
                order by u.username asc
            </when>
            <when test="postSort==2">
                order by c.user_userid asc
            </when>
            <when test="postSort==3">
                order by u.date desc
            </when>
            <when test="postSort==4">
                order by c.isaccept desc
            </when>
        </choose>
limit #{onePageRecord} offset #{offsetPoint}
    </select>

    <select id="getAuthimg" resultType="String">
        select authimg
        from company
        where user_userid = #{param1};
    </select>

    <update id="acceptCompany">
        update company
        set isaccept = 0
        where user_userid=#{param1}
    </update>

    <delete id="denyCompany">
        delete
        from user
        where userid=#{param1};
    </delete>
</mapper>