<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.careercanvas.mapper.BoardMapper">
    <insert id="InsertNewPost">
        insert into post (posttitle, postcontent, boardcategory, category, hashtag, user_userid)
        VALUES (#{posttitle}, #{postcontent}, #{boardcategory}, #{category}, #{hashtag}, #{user_userid})
    </insert>

    <select id="getPost" resultType="com.team1.careercanvas.vo.BoardVO">
        SELECT post.postid, post.posttitle, post.user_userid, post.date, post.views, COUNT(postlike.user_userid) AS likeAmount, count(comment.commentid) as commentAmount
        FROM post
        LEFT JOIN postlike ON post.postid = postlike.post_postid
        LEFT JOIN comment ON post.postid = comment.post_postid
        <where>
            boardcategory=#{boardcategory}
            <if test="searchKey == 'all'">
                AND (post.posttitle LIKE CONCAT('%', #{searchWord}, '%') OR
        post.user_userid LIKE CONCAT('%', #{searchWord}, '%') or
        post.postcontent LIKE CONCAT('%', #{searchWord}, '%'))
            </if>
            <if test="searchKey == 'title'">
                AND post.posttitle LIKE CONCAT('%', #{searchWord}, '%')
            </if>
            <if test="searchKey == 'author'">
                AND post.user_userid LIKE CONCAT('%', #{searchWord}, '%')
            </if>
            <if test="searchKey == 'content'">
                AND post.postcontent LIKE CONCAT('%', #{searchWord}, '%')
            </if>
        </where>
        group by post.postid
        <choose>
            <when test="postSort==1">
                order by date desc
            </when>
            <when test="postSort==2">
                order by views desc, date desc
            </when>
            <when test="postSort==3">
                order by likeAmount desc, date desc
            </when>
        </choose>
        limit #{onePageRecord} offset #{offsetPoint}

    </select>

    <select id="getPostAmount" resultType="Integer">
        SELECT count(postid)
        FROM post
        <where>
            boardcategory=#{boardcategory}
            <if test="searchKey == 'all'">
                AND (post.posttitle LIKE CONCAT('%', #{searchWord}, '%')
        OR post.user_userid LIKE CONCAT('%', #{searchWord}, '%')
        or post.postcontent LIKE CONCAT('%', #{searchWord}, '%'))
            </if>
            <if test="searchKey == 'title'">
                AND post.posttitle LIKE CONCAT('%', #{searchWord}, '%')
            </if>
            <if test="searchKey == 'author'">
                AND post.user_userid LIKE CONCAT('%', #{searchWord}, '%')
            </if>
            <if test="searchKey == 'content'">
                AND post.postcontent LIKE CONCAT('%', #{searchWord}, '%')
            </if>
        </where>
    </select>

    <select id="getPostAmountWithCat" resultType="Integer">
        select count(postid) from post
        <where>
            boardcategory=#{boardcategory} and category=#{category}
            <if test="searchKey == 'all'">
                AND (post.posttitle LIKE CONCAT('%', #{searchWord}, '%')
                             OR post.user_userid LIKE CONCAT('%', #{searchWord}, '%')
                             or post.postcontent LIKE CONCAT('%', #{searchWord}, '%'))
            </if>
            <if test="searchKey == 'title'">
                AND post.posttitle LIKE CONCAT('%', #{searchWord}, '%')
            </if>
            <if test="searchKey == 'author'">
                AND post.user_userid LIKE CONCAT('%', #{searchWord}, '%')
            </if>
            <if test="searchKey == 'content'">
                AND post.postcontent LIKE CONCAT('%', #{searchWord}, '%')
            </if>
        </where>
    </select>

    <select id="getPostWithCat" resultType="com.team1.careercanvas.vo.BoardVO">
        select * from post
        <where>
            boardcategory=#{boardcategory} and category=#{category}
            <if test="searchKey == 'all'">
                AND (post.posttitle LIKE CONCAT('%', #{searchWord}, '%')
                 OR post.user_userid LIKE CONCAT('%', #{searchWord}, '%')
                 or post.postcontent LIKE CONCAT('%', #{searchWord}, '%'))
            </if>
            <if test="searchKey == 'title'">
                AND post.posttitle LIKE CONCAT('%', #{searchWord}, '%')
            </if>
            <if test="searchKey == 'author'">
                AND post.user_userid LIKE CONCAT('%', #{searchWord}, '%')
            </if>
            <if test="searchKey == 'content'">
                AND post.postcontent LIKE CONCAT('%', #{searchWord}, '%')
            </if>
        </where>
        group by post.postid
        <choose>
            <when test="postSort==1">
                order by date desc
            </when>
            <when test="postSort==2">
                order by views desc, date desc
            </when>
            <when test="postSort==3">
                order by likeAmount desc, date desc
            </when>
        </choose>

        limit #{onePageRecord} offset #{offsetPoint}
    </select>

    <delete id="deletePost">
        delete from post where postid=#{param1}
    </delete>

    <insert id="reportPost">
        insert into report(reporttype, targetid, user_userid, title, userid)
        values('board', #{param1}, #{param4}, #{param3}, #{param2});
    </insert>

    <!--  정인식 작업 ( 글 내용 보기 )  -->
    <select id="SelectBoardView" resultType="com.team1.careercanvas.vo.BoardVO">
        select *
        from post
        where postid = #{param1}
    </select>
    <update id="ViewsCount">
        update post
        set views=post.views + 1
        where postid = ${param1}
    </update>

    <insert id="LikeCount">
        insert into postlike(user_userid, post_postid)
        VALUES (#{param2}, #{param1})
    </insert>

    <!-- 권혁준 작업 -->
    <select id="getmyPost" resultType="com.team1.careercanvas.vo.BoardVO">
        select *
        from post
        <if test="#{searchWord} == ''">
            where user_userid = #{searchKey}
        </if>
        <if test="#{searchWord} != ''">
            where user_userid = #{searchKey}
            and posttitle like concat('%',#{searchWord},'%')
        </if>
        limit #{onePageRecord} offset #{offsetPoint};
    </select>

    <select id="getmyPostAmount" parameterType="com.team1.careercanvas.vo.PagingVO" resultType="Integer">
        select count(postid)
        from post
        where user_userid = #{searchKey}
    </select>

    <select id="getmyComment" parameterType="com.team1.careercanvas.vo.PagingVO" resultType="com.team1.careercanvas.vo.CommentVO">
        select *
        from comment
        where user_userid = #{searchKey}
        <if test="#{searchWord != ''}">       
            and commentcontent like concat('%', #{searchWord} ,'%')
        </if>
        limit #{onePageRecord} offset #{offsetPoint};
    </select>

    <select id="getmyCommentCount" resultType="Integer">
        select count(commentid)
        from comment
        where user_userid = #{searchKey};
    </select>

    <select id="CheckValid" resultType="Integer">
        select count(user_userid)
        from postlike
        where user_userid = #{param2}
          and post_postid = #{param1}
    </select>

    <select id="GetLikeAmount" resultType="Integer">
        select count(user_userid)
        from postlike
        where post_postid = #{param1}
    </select>
</mapper>