<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.careercanvas.mapper.PartyMapper">
    <select id="getmyParty" resultType="com.team1.careercanvas.vo.PartyVO">
        select p.partyid      as partyid,
               p.partyname    as partyname,
               p.partycomment as partycomment,
               p.user_userid  as user_userid
        from party p
                 left join partymember m on p.partyid = m.party_partyid
        where m.user_userid = #{param1};
    </select>

    <select id="SelectPartyList" resultType="com.team1.careercanvas.vo.PartyVO">
        select *
        from party p
        join partymember m
        on p.partyid = m.party_partyid and m.user_userid = #{param1};
    </select>

    <select id="myteamSelect" resultType="com.team1.careercanvas.vo.PartyVO">
        select *
        from party
        where partyid = #{param1};
    </select>

    <select id="SelectMemberList" resultType="com.team1.careercanvas.vo.UserVO">
        select *
        from user
                 join partymember
                      on partymember.user_userid = user.userid
        where partymember.party_partyid = #{param1}
    </select>

    <select id="SelectMemoListView" resultType="com.team1.careercanvas.vo.MemoVO">
        select partymemo.party_partyid as party_partyid,
               partymemo.user_userid as user_userid,
               partymemo.partymemocontent as partymemocontent,
               partymemo.partymemo as partymemo,
               partymemo.datetime as datetime,
               user.username as username
        from partymemo join user on partymemo.user_userid = user.userid
        where party_partyid = #{param1}
        order by datetime desc;
    </select>

    <insert id="InsertMemo">
        insert into partymemo(party_partyid, partymemocontent, user_userid)
        VALUES (#{param1}, #{param2}, #{param3});
    </insert>

    <delete id="DeleteMemo">
        delete from partymemo where partymemo = #{param1};
    </delete>

    <!--조석훈 시작-->
    <select id="getMineParty" resultType="com.team1.careercanvas.vo.PartyVO">
        select * from party where user_userid=#{param1};
    </select>

    <insert id="InsertWanted" parameterType="com.team1.careercanvas.vo.WantedVO">
        insert into partywanted(wantedtitle, wantedcontent, party_partyid, user_userid)
        values (#{wantedtitle}, #{wantedcontent}, #{party_partyid}, #{user_userid})
    </insert>

    <select id="GetWantedList" resultType="com.team1.careercanvas.vo.WantedVO">
        select pw.wantedid as wantedid,
               pw.user_userid as user_userid,
               pw.date as date,
               pw.view as view,
               pw.wantedtitle as wantedtitle,
               p.partyname as partyname
        from partywanted pw
        join party p on pw.party_partyid = p.partyid
        <where>
            <if test="searchKey == 'all'">
                pw.wantedtitle like CONCAT('%', #{searchWord}, '%')
                or pw.user_userid like CONCAT('%', #{searchWord}, '%')
                or pw.wantedcontent like CONCAT('%', #{searchWord}, '%')
            </if>
            <if test="searchKey == 'title'">
                pw.wantedtitle LIKE CONCAT('%', #{searchWord}, '%')
            </if>
            <if test="searchKey == 'author'">
                pw.user_userid LIKE CONCAT('%', #{searchWord}, '%')
            </if>
            <if test="searchKey == 'content'">
                pw.wantedcontent LIKE CONCAT('%', #{searchWord}, '%')
            </if>
            <if test="searchKey == 'partyname'">
        p.partyname like CONCAT('%', #{searchWord}, '%')
            </if>
        </where>

        <choose>
            <when test="postSort==1">
                order by wantedid desc
            </when>
            <when test="postSort==2">
                order by view desc, wantedid desc
            </when>
        </choose>

        limit #{onePageRecord} offset #{offsetPoint}

    </select>

    <select id="getWantedListCount" resultType="Integer">
        select count(wantedid)
        from partywanted
        join party p on party_partyid = p.partyid
        <where>
            <if test="searchKey == 'all'">
                wantedtitle like CONCAT('%', #{searchWord}, '%')
                or p.user_userid like CONCAT('%', #{searchWord}, '%')
                or wantedcontent like CONCAT('%', #{searchWord}, '%')
            </if>
            <if test="searchKey == 'title'">
                wantedtitle LIKE CONCAT('%', #{searchWord}, '%')
            </if>
            <if test="searchKey == 'author'">
                p.user_userid LIKE CONCAT('%', #{searchWord}, '%')
            </if>
            <if test="searchKey == 'content'">
                wantedcontent LIKE CONCAT('%', #{searchWord}, '%')
            </if>
            <if test="searchKey == 'partyname'">
                p.partyname like CONCAT('%', #{searchWord}, '%')
            </if>
        </where>
    </select>

    <!--조석훈 끝-->
</mapper>