<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.careercanvas.mapper.PofolMapper">
	<select id="getPofol" resultType="com.team1.careercanvas.vo.PofolVO">
        select portfoliotitle, imgsrc
        from portpolio
        where user_userid = #{searchKey}
        <if test="#{searchWord} != ''">
        and portfoliotitle like concat('%',#{searchWord},'%')
        </if>
		order by portfolioid desc
        limit #{onePageRecord} offset #{offsetPoint};
    </select>
	<select id="getPofolCount" resultType="Integer">
		select count(portfoliotitle)
		from portpolio
		where user_userid = #{searchKey}
		<if test="{searchWord} != ''">
			and portfoliotitle like concat('%',#{searchWord},'%');
		</if>
	</select>
	<!-- 김효준 작업 -->
	<select id="getPofolInfo" resultType="com.team1.careercanvas.vo.PofolVO">
		select * from portpolio
		where user_userid=#{param1};
	</select>

	<select id="getpofolamount" resultType="Integer">
		select count(portfolioid) from portpolio
		where user_userid = #{param1};
	</select>

<!--	조석훈 작업-->
	<update id="insertImg">
		update portpolio
		set imgsrc=#{param1}
		where portfolioid=#{param2}
	</update>
</mapper>