<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.careercanvas.mapper.SubjectMapper">
    <select id="SelectCompany" resultType="com.team1.careercanvas.vo.UserVO">
        select * from user where userid=#{param1} and usertype=1
    </select>

    <insert id="SubjectWrite">
        insert into subject (user_userid, subjecttitle, subjectcontent, category)
        values (#{user_userid} , #{subjecttitle}, #{subjectcontent}, #{category});
        <selectKey keyProperty="subjectid" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>


    <update id="insertSubjectImg">
        update subject
        set imgsrc=#{param1}
        where subjectid=#{param2}
    </update>

    <select id="SelectSubject" resultType="com.team1.careercanvas.vo.SubjectVO">
        select s.subjectid as subjectid,
               s.subjecttitle as subjecttitle,
               s.subjectcontent as subjectcontent,
               s.date as date,
               s.category as category,
               u.username as username,
               s.user_userid as user_userid
        from subject s
             join  user u on u.userid = s.user_userid
        where s.subjectid=#{param1}
    </select>

    <insert id="Insertdelapply">
        insert into subject_delapply(subjectid, reason, userid)
        values (#{param1}, #{param2}, #{param3})
    </insert>

    <select id="CountDelid" resultType="Integer">
        SELECT COUNT(*) AS count
        FROM subject_delapply
        WHERE subjectid = #{param1}
    </select>

    <select id="SelectPartyList" resultType="com.team1.careercanvas.vo.PartyVO">
        select *
        from party
        where user_userid = #{param1};
    </select>

    <select id="SelectMemberList" resultType="com.team1.careercanvas.vo.UserVO">
        select *
        from user
                 join partymember
                      on partymember.user_userid = user.userid
        where partymember.party_partyid = #{param1} and partymember.status = 'done';
    </select>

    <insert id="InsertSubjectApply">
        insert into subjectapply (subject_subjectid, applycontent, isteam, user_userid)
        values (#{subject_subjectid}, #{applycontent}, #{isteam}, #{user_userid});
        <selectKey keyProperty="applyid" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="Insertpartyid">
        update subjectapply
        set party_partyid=#{param2}
        where applyid = #{param1}
    </update>

    <insert id="addApplyMember">
        insert into subjectcontributor (subjectapply_applyid, user_userid)
        values (#{param1}, #{param2})
    </insert>

    <update id="insertApplyImg">
        update subjectapply
        set applyimg=#{param1}
        where applyid=#{param2}
    </update>
</mapper>



