<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.careercanvas.mapper.UserMapper">

    <select id="idCheck" resultType="Integer">
        select count(userid)
        from user
        where userid = #{param1};
    </select>

    <select id="namecheck" resultType="Integer">
        select count(username)
        from user
        where username = #{param1};
    </select>

    <select id="emailcheck" resultType="Integer">
        select count(useremail)
        from user
        where useremail = #{param1};
    </select>

    <insert id="signupPersonal">
        insert into user(userid, userpwd, username, useremail, usertel, usertype, usersalt)
        values (#{param1}, #{param2}, #{param3}, #{param4}, #{param5}, #{param6}, #{param7});
    </insert>

    <insert id="signupBiz">
        insert into company(user_userid, companyno)
        values (#{param1}, #{param2});
    </insert>

    <update id="InsertAuthImg">
        update company
        set authimg = #{param1}
        where companyno = #{param2}
    </update>


    <select id="getUser" resultType="com.team1.careercanvas.vo.UserVO">
        select userpwd, usersalt, usertype,username, profileimg
        from user
        where userid = #{param1};
    </select>

    <select id="getBizNo" resultType="String">
        select companyno
        from company
        where user_userid = #{param1};
    </select>

    <select id="getAccept" resultType="Integer">
        select isaccept
        from company
        where user_userid = #{param1};
    </select>

    <select id="getUserId" resultType="String">
        select userid
        from user
        where useremail = #{param1} and usertype = #{param2};
    </select>

    <select id="getUserIdForBiz" resultType="String">
        select user.userid
        from user
                 join company on user.userid = company.user_userid
        where company.companyno = #{param2}
          and user.useremail = #{param1}
        and user.usertype = #{param3}
    </select>

    <select id="getUserPwd" resultType="String">
        select userpwd
        from user
        where userid = #{param1} and useremail = #{param2} and usertype = #{param3};
    </select>

    <select id="getUserPwdForBiz" resultType="String">
        select user.userpwd
        from user
                 join company on user.userid = company.user_userid
        where company.companyno = #{param4}
          and user.useremail = #{param2}
          and user.usertype = #{param3}
        and user.userid=#{param1}
    </select>

    <select id="getUserIdByPwd" resultType="String">
        select userid from user where userpwd = #{param1};
    </select>

    <update id="deleteUserPwd">
        update user set usersalt='dontbreakmysalt' where userid = #{param1};
    </update>

    <update id="changePwd">
        update user set usersalt = #{param3}, userpwd = #{param2} where userid=#{param1};
    </update>

    <update id="InsertProfileImg">
        update user
        set profileimg=#{param1}
        where userid=#{param2}
    </update>

    <select id="getProfileImg" resultType="String">
        select profileimg from user
        where userid=#{param1}
    </select>

    <insert id="SignupBizFirst" parameterType="com.team1.careercanvas.vo.UserVO">
        insert into user(userid, userpwd, username, useremail, usertel, usertype, usersalt)
        values(#{userid},#{userpwd},#{username},#{useremail},#{usertel},#{usertype},#{usersalt});
    </insert>

    <update id="SignupBizSecond">
        insert into company(user_userid, companyno, authimg)
        values(#{param1}, #{param2}, #{param3});
    </update>

    <select id="CheckCompanyNo" resultType="Integer">
        select count(user_userid)
        from company
        where companyno=#{param1};
    </select>
    
    <!-- 권혁준 작업  -->
	<select id="getUserInfo" resultType="com.team1.careercanvas.vo.UserVO">
		select *
		from user
		where userid=#{param1};
	</select>

    <select id="getAllUserNickname" resultType='Integer'>
        select count(userid)
        from user
        where username=#{param1};
    </select>
	
	<update id="updateMypageWithoutPwd"> 
		update user set username=#{param1}, usertel=#{param2}, comment=#{param3}
		where userid=#{param4};
	</update>

    <select id="getSendMsg" parameterType="com.team1.careercanvas.vo.PagingVO" resultType="com.team1.careercanvas.vo.MessageVO">
        select * 
        from message
        where user_userid = #{searchKey}
        <if test="#{searchWord != ''}">
            and content like concat ('%', #{searchWord}, '%')
        </if>
        order by date desc
        limit #{onePageRecord} offset #{offsetPoint};
    </select>

    <select id="getTotalSendMsg" resultType="Integer">
        select count(*) 
        from message
        where user_userid = #{searchKey}
    </select>

    <select id="getReceiveMsg" parameterType="com.team1.careercanvas.vo.PagingVO" resultType="com.team1.careercanvas.vo.MessageVO">
        select * 
        from message
        where user_userid1 = #{searchKey}
        <if test="#{searchWord != ''}">
            and content like concat ('%', #{searchWord}, '%')
        </if>
        order by date desc
        limit #{onePageRecord} offset #{offsetPoint};
    </select>

    <select id="getTotalReceiveMsg" resultType="Integer">
        select count(*) 
        from message
        where user_userid1 = #{searchKey};
    </select>

    <select id="getSubmitSubjectSolo" resultType="com.team1.careercanvas.vo.ApplyVO">
        <![CDATA[
            select a.applyid as applyid, s.subjecttitle as subjecttitle, a.applyimg as applyimg, s.category as category
            from subjectapply a
            left join subject s on a.subject_subjectid = s.subjectid
            where a.user_userid = #{searchKey}
            and a.isteam = 1
        ]]>
        <if test="#{searchWord != ''}">
            <![CDATA[and s.subjecttitle like concat('%', #{searchWord}, '%')]]>
        </if>
        limit #{onePageRecord} offset #{offsetPoint}
    </select>

    <select id="getSubjectSoloAmount" resultType="Integer">
        select count(sa.subject_subjectid)
        from subjectapply sa
        join subject s on sa.subject_subjectid = s.subjectid
        where sa.user_userid = #{searchKey} and isteam=1
        <if test="#{searchWord != ''}">
            and s.subjecttitle like concat('%', #{searchWord}, '%');
        </if>
    </select>
    
    <select id="getSubmitSubjectTeam" resultType="com.team1.careercanvas.vo.ApplyVO">
        SELECT subjectapply.applyimg as applyimg,
        subject.subjecttitle as subjecttitle
        FROM subjectapply
        JOIN subject ON subject.subjectid = subjectapply.subject_subjectid
        left join subjectcontributor sc on subjectapply.subject_subjectid = sc.subjectapply_applyid
        WHERE sc.user_userid = #{searchKey}
        AND isteam = 0
        <if test="#{searchWord != ''}">
            AND subject.subjecttitle LIKE CONCAT('%', #{searchWord}, '%')
        </if>
        limit #{onePageRecord} offset #{offsetPoint}
    </select>

    <select id="getSubjectTeamAmount" resultType="Integer">
        select count(sc.subjectapply_applyid)
        from subjectcontributor sc
        join user u on u.userid =sc.user_userid
        left join subjectapply sa on sa.applyid = sc.subjectapply_applyid
        left join subject s on s.subjectid = sa.subject_subjectid
        where sc.user_userid = #{searchKey}
        <if test="#{searchWord != ''}">
            and s.subjecttitle like concat('%', #{searchWord}, '%');
        </if>
    </select>
	
    <select id="getPofolAmount" resultType="Integer">
        select count(user_userid)
        from portpolio
        where user_userid = #{param1}
    </select>

    <insert id="pofolWrite">
        insert into portpolio (user_userid, portfoliotitle, portfoliocontent, ispublic, category)
        values (#{user_userid} , #{portfoliotitle}, #{portfoliocontent},0, #{category});
        <selectKey keyProperty="portfolioid" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <delete id="deleteUser">
        delete from user
        where userid = #{param1}
    </delete>

    <update id="saveInterest">
        update user
        set interest = #{param2}
        where userid = #{param1};
    </update>
</mapper>