<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.careercanvas.mapper.UserMapper">

    <select id="idCheck" resultType="Integer">
        select count(userid) from user where userid=#{param1};
    </select>

    <select id="namecheck" resultType="Integer">
        select count(username) from user where username=#{param1};
    </select>

    <select id="emailcheck" resultType="Integer">
        select count(useremail) from user where useremail=#{param1};
    </select>

    <insert id="signupPersonal">
        insert into user(userid, userpwd, username,useremail, usertel, usertype, usersalt)
        values(#{param1}, #{param2},#{param3},#{param4},#{param5}, #{param6}, #{param7});
    </insert>

    <insert id="signupBiz">
        insert into company(user_userid, companyno)
        values(#{param1}, #{param2});
    </insert>

    <update id="InsertAuthImg">
        update company set authimg = #{param1} where companyno = #{param2}
    </update>


    <select id="getUser" resultType="com.team1.careercanvas.vo.UserVO">
        select userpwd, usersalt from user where userid=#{param1};
    </select>

</mapper>